*{
    margin:0;
    padding:0
}
html{
    background: #2E3441;
    height:100%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #A2BF8A;
    width:100%;
    min-height: calc(100% - 40px);
    overflow-x:hidden;
}
body.dark{
    background-color:#2E3441; 
}
body.light{
    background-color:#FFF; 
}
body.light input{
    background-color:#E2E3E5; 
}
body.light input:focus{
    color:#000;
    background-color:#FFF;
}
body.light p.red{
    color:#FFF;
}
.output{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
}
input{
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #3B4253;
    color: #FFF;
    border:none;
    position:relative;
}
input:focus{
    color:#FFF;
    outline:none;
    border-top:1px solid #3B4253;
    background-color:#2E3441;
}
div#out{
    padding:5px;
}
p {
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 30px;
    position: relative;
    display: block;
}
p i.fa {
    margin-right: 5px;
    position: absolute;
    left: 5px;
    top: 5px;
}
p.help {
    padding-left: 30px;
    top:5px;
}
p.red{
    background-color:#C16069;
    color:#2E3441;
}